.App {
  /* text-align: center; */
  background-color: #7089a1;
}

.App-header {
  background-color: #282c34;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* CUSTOM CSS STARTS HERE*/

.intro {
  background-color: orange;
  opacity: 0.8;
  margin-left: 5%;
  padding-left: 5%;
  padding-right: 5%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}

ul {
  list-style-type: none;
}

.about {
  background-color: orange;
  opacity: 0.8;
  margin-right: 5%;
}


/* Project Section */

.project-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.big-project {
  border: 2px solid black;
  width: 60%;
}
.big-project-sc {
  border: 2px solid orange;
  width: 95%;
}

.reg-project {
  border: 2px solid black;
  margin: 1px;
  width: 40%;
}
.project-sc {
  width: 28%;
  height: 50%;
}

/* Contact Info */

.outro {
  background-color: orange;
  opacity: 0.8;
  margin-left: 5%;
  /* padding-bottom: 1rem; */
}